src/a.out
*.o
*.lo
*.la
*.so
*.idea/
*debug/
*build/
*_pb2.py
*pb.h
*pb.cc
cmakelist_yadda.txt

thirdpart/mspout-ffmpeg/*
thirdpart/mspout-netposa/*
thirdpart/mspout-pfs/*
thirdpart/mspout-infinova/*
thirdpart/mspout-tiandy/*
thirdpart/brpc
thirdpart/dmi
thirdpart/objs

third_party/output/
res/ex-libs/
res/*.ini
res/script/
docker-release/
res/numa_config

.idea
cmake-build-debug
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d


conanbuildinfo.cmake
conanbuildinfo.txt
repo/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib


*.pb.cc
*.pb.h

# Executables
*.exe
*.out
*.app

# Folders
release
debug
bin
lib
build
test

## ide Folders
cmake-build-debug
.idea

# MacOS finder files
*.DS_Store

# Picture files
#*.jpg
#*.jpeg
#*.png
#*.gif
#*.pgm

# Video files
*.oni
*.ts
*.tsx
*.avi
*.mkv
*.mov
*.mp4
*.h264
*.264
*.h265
*.265
*.m3u8
*.wma
*.rm
*.rmvb
*.flv
*.flash
*.3gp
*.ps
*.mpg
*.asf
*.asx
*.mpeg
*.mpe
*.m4v
*.vob

# Audio files
*.mp3
*.wav
*.au
*.aiff
*.aac
*.mid
*.midi
*.ogg
*.g711

# data files
*.raw
*.*~
*.zip
*.tar
*.tar.gz
*.db
*.bak
*.db.bak

#test
*.test

