thirdparty/mspout-ffmpeg/*
thirdparty/mspout-netposa/*
thirdparty/mspout-pfs/*
thirdparty/mspout-infinova/*
thirdparty/mspout-tiandy/*
thirdparty/brpc
thirdparty/objs
thirdparty/output/*

res/ex-libs/
res/*.ini
res/script/
docker-release/
res/numa_config


*pb.h
*pb.cc
*_pb2.py

.idea
*.idea/

# Compiled Object files
*debug/
*build/
cmake-build-debug
*.la
*.so
*.slo
*.lo
*.o
*.obj
*.d

repo/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib


*.pb.cc
*.pb.h

# Executables
*.exe
*.out
*.app

# Folders
release
debug
bin
lib
build
test

## ide Folders
cmake-build-debug
.idea

# MacOS finder files
*.DS_Store

# Picture files
#*.jpg
#*.jpeg
#*.png
#*.gif
#*.pgm

# Video files
*.oni
*.ts
*.tsx
*.avi
*.mkv
*.mov
*.mp4
*.h264
*.264
*.h265
*.265
*.m3u8
*.wma
*.rm
*.rmvb
*.flv
*.flash
*.3gp
*.ps
*.mpg
*.asf
*.asx
*.mpeg
*.mpe
*.m4v
*.vob

# Audio files
*.mp3
*.wav
*.au
*.aiff
*.aac
*.mid
*.midi
*.ogg
*.g711

# data files
*.raw
*.*~
*.zip
*.tar
*.tar.gz
*.db
*.bak
*.db.bak

#test
*.test

